body {
    font-family: Georgia, serif;
    font-size: 100%;
    text-color: white
    line-height: 175%;
    margin: 0 15% 0;
    background: #06170a url(mist4.png) no-repeat center 100px fixed;
    
  }
  header {
    margin-top: 0;
    padding: 3em 1em 2em 1em;
    text-align: center;
    background: rgba(225,225,225,.5) url(header.crdownload) ;
    background-color: rgba(225,225,225,.5);

  }

  
  a {
    text-decoration: none;
  }
  
  h1 {
    font: bold 2em Georgia, serif;
    text-shadow: .1em .1em .2em white;
    color: #4b0076;
  }
  h2 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .5em;
    text-align: center;
    text-shadow: .1em .1em .2em gray;
    color: #c60
  }

  h3 {font: 1em Georgia, Serif;
color: white;}


  .color {color: #939;}
  dt {
    font-weight: bold;
  }
  strong {
    font-style: italic;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  #info p {
    font-style: italic;
  }
  .price {
    font-family: Georgia, serif;
    font-style: italic;
  }
  p.warning, sup {
    font-size: small;
  }
  .label {
    font-weight: bold;
    font-variant: small-caps;
    font-style: normal;
  }
  
  h2 + p {
    text-align: center;
    font-style: italic;
  }
  